@charset "utf-8"

// Before importing Bulma framework itself we will
// overwrite its settings with out own variables.
@import 'settings';

// Import Bulma framework and its dependences.
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
